<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Education</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static "stylesheets/bootstrap/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "stylesheets/user-defined/education.css" %}" />
    <script src="{% static "stylesheets/bootstrap/FontAwesomeKit.js " %}"></script>
    <script src="{% static "stylesheets/bootstrap/FontAwesomeKit.js" %}"></script>
    <style type="text/css">
        body{
           background-image: url("{% static "images/Educational.jpg" %}");
           background-repeat: no-repeat;
           background-position: center;
           background-attachment: fixed;
           background-size: cover;
           height: 100%;
           margin: 0;
        }
        html{
        height: 100%;
        margin: 0;
      }
      .cover-container {
          max-width: 42em;
      }
    </style>
  </head>
  <body>
    <!-----------------------Navigation Bar-------------------->
    <div class="bg">
      <div class="cover-container w-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
           <div>
              <h3 class="float-md-start text-center mb-3" style="color: #f2ebe9;">Naveen Yennaboina</h3>
              <nav class="nav nav-masthead justify-content-center float-md-end">
                 <a class="nav-link" href="/">Home</a>
                 <a class="nav-link active" aria-current="page" href="#">Education</a>
                 <a class="nav-link" href="/projects/Projects/">Projects</a>
                 <a class="nav-link" href="/resume/Resume/">Resume</a>
                 <a class="nav-link" href="/contact/Contact/">Contact</a>
              </nav>
           </div>
        </header>
      </div>
    
    <br/><br/>
    <h1 class="text-center display-3 mt-3 mb-5 headname text-white"><strong>Educational Details</strong></h1>

    <br/>
    
    <div class="container-fluid">
      <div class="container">
        <div>
          <div class="text-center">
            <img src="{% static "images/Anurag Engineering College 2.png" %}" width="200px" height="200px" />
            <h2 class="text-center fs-sm-5 subhead">Anurag Engineering College</h2>
            <hr>
            <br/><br/>
          </div>
        </div>
        <dl class="row lh-base fs-4 me-2" style="color: #f5b8e5;">
          <dt class="col-sm-3">Degree :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">Batchelor of Technology</dd>

          <dt class="col-sm-3">Specialization :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">Electrical and Electronics Engineering (EEE)</dd>

          <dt class="col-sm-3">Roll-Number :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">15C11A0237</dd>

          <dt class="col-sm-3">Duration :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">July 2015 - June 2019</dd>

          <dt class="col-sm-3">University	:</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">	Jawaharlal Nehru Technological University Hyderabed</dd>

          <dt class="col-sm-3">Address	 :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">Anantha Giri, Suryapet District, Telangana - 508206</dd>

          <dt class="col-sm-3">Google Map Location	 :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);"><a href="https://maps.app.goo.gl/phLw5vw7SXN5MtXKA" target="_blank">  Click-here</a></dd>
        </dl>
      </div>
    </div>
  
    <br/><br/>

    <div class="container-fluid">
      <div class="container">
        <h2 class="text-center subhead">Resonance Junior College of Science</h2>
        <hr>
        <br/>
        <dl class="row lh-base fs-4 me-2" style="color: #f5b8e5;">
          <dt class="col-sm-3">Degree :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">Telangana Bord of Intermediate Education</dd>

          <dt class="col-sm-3">Specialization :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">Maths Physics Chemistry (MPC)</dd>

          <dt class="col-sm-3">Roll-Number :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">	1519225489</dd>

          <dt class="col-sm-3">Duration :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">July 2013 - April 2015</dd>

          <dt class="col-sm-3">Address	 :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">khammam District, Telangana - 507001</dd>

          <dt class="col-sm-3">Google Map Location	 :</dt>
          <dd class="col-sm-9" ><a  href="https://maps.app.goo.gl/kXahviUMDmMvQ5UaA" target="_blank"> Click-here</a></dd>
        </dl>
      </div>
    </div>

    <br/><br/>

    <div class="container-fluid">
      <div class="container">
        <h2 class="text-center subhead">Vikas High School</h2>
        <hr>
        <br/>
        <dl class="row lh-base fs-4 me-2" style="color: #f5b8e5;">
          <dt class="col-sm-3">Degree :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">Telangana State Secondary School Certificate</dd>

          <dt class="col-sm-3">Roll-Number :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">1330109166</dd>

          <dt class="col-sm-3">Duration :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">July 2012 - May 2013</dd>

          <dt class="col-sm-3">Address	 :</dt>
          <dd class="col-sm-9" style="color: rgb(253, 251, 251);">Nelakonda Palli, Khammam District, Telangana - 507160</dd>

          <dt class="col-sm-3">Google Map Location	 :</dt>
          <dd class="col-sm-9"><a href="https://maps.app.goo.gl/LxDFGiw4F3wEBmi28" target="_blank">  Click-here</a></dd>
        </dl>
      </div>
    </div>
    </div>

    <br/><br/>

    <!--------------------------End Main----------------------->
    <br/><br/><br/>

    <footer class="mastfoot mt-auto p-3 bg-dark">
      <div class="inner text-center pt-3">
        <p class="text-white">
          <a class="text-white" href="/"><i class="fas fa-home"></i> Home</a> &nbsp;&nbsp;&nbsp;
          <a class="text-white" href="/projects/Projects/"><i class="fas fa-project-diagram"></i>  Projects</a> &nbsp;&nbsp;&nbsp;
          <a class="text-white" href="/resume/Resume/"><i class="fas fa-file"></i> Resume</a>
        </p>
      </div>
      <div class="inner text-center">
        <p class="text-white">
          <a class="text-white" href="/contact/Contact/"><i class="fas fa-envelope"></i> Contact</a>
        </p>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "stylesheets/bootstrap/jquery-3.3.1.slim.min.js" %}"></script>
    <script src="{% static "stylesheets/bootstrap/popper.min.js" %}"></script>
    <script src="{% static "stylesheets/bootstrap/bootstrap.min.js"%}"></script>
  </body>
</html>